body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
}
#app {
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.view-container {
  width: 100%;
  height: 100%;
}
